.container-idc {
  height: 100vh; /* Cambiado a una unidad de altura relativa */
  width: 100%; /* Ajusta según tus necesidades */
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
