* {
    margin: 0;
    padding: 0;
}


 .navbar {
    display: flex;
    font-size: x-large;
} 

.logo {
    height: 60px;
    font-size: 50px;
    color: rgb(2, 255, 90);
    font-style: oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 2px;
    padding-left: 10px;
}


.categorias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
    color:rgb(214, 229, 214);
    padding-left: 0%;
}
li {
    display: inline;
    color:rgb(214, 229, 214);
    cursor: pointer;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    

} 